alembic==1.7.7
aniso8601==6.0.0
asgiref==3.4.1
astroid==2.6.2
attrs==23.2.0
Automat==22.10.0
autopep8==1.5.7
Babel==2.9.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.16.0
charset-normalizer==2.0.3
cli_helpers==2.3.1
click==8.1.3
configobj==5.0.9
constantly==23.10.4
contextlib2==21.6.0
cryptography==42.0.5
cssselect==1.2.0
cycler==0.10.0
decorator==5.0.9
distlib==0.3.2
dj-database-url==0.5.0
Django==4.0.1
django-heroku==0.0.0
django-phonenumbers==1.0.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
docopt==0.6.2
filelock==3.0.12
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
grapher==1.8
greenlet==1.1.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.2
importlib-metadata==4.11.3
incremental==22.10.0
isort==5.9.2
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lxml==4.6.3
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.4.2
mccabe==0.6.1
nltk==3.6.2
node==0.9.26
nodejs==0.1.1
numpy==1.21.1
odict==1.7.0
optional-django==0.1.0
packaging==21.0
pandas==1.3.1
parsel==1.9.1
passlib==1.7.4
pgcli==4.1.0
pgspecial==2.1.3
phonenumbers==8.13.4
Pillow==9.4.0
platformdirs==2.2.0
plumber==1.6
polib==1.1.1
postgres==4.0
prompt_toolkit==3.0.50
Protego==0.3.1
psutil==5.9.4
psycopg==3.2.4
psycopg2==2.9.3
psycopg2-binary==2.9.3
psycopg2-pool==1.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.7.0
pycparser==2.22
PyDispatcher==2.0.7
pygame==2.3.0
Pygments==2.19.1
PyJWT==2.3.0
pylint==2.9.3
pyOpenSSL==24.1.0
pyparsing==2.4.7
PyPDF2==3.0.1
python-dateutil==2.8.2
pythonanywhere==0.9.9
pytz==2019.1
queuelib==1.6.2
regex==2021.7.6
reportlab==3.6.12
requests==2.26.0
requests-file==2.0.0
schema==0.7.4
Scrapy==2.11.1
service-identity==24.1.0
setproctitle==1.3.4
six==1.12.0
soupsieve==2.2.1
SQLAlchemy==1.3.4
sqlparse==0.4.1
tabulate==0.9.0
tldextract==5.1.2
toml==0.10.2
tqdm==4.61.2
Twisted==24.3.0
typer==0.4.0
typing_extensions==4.12.2
urllib3==1.26.6
validations==0.1.1
validators==0.18.2
virtualenv==20.7.2
w3lib==2.1.2
wcwidth==0.2.13
Werkzeug==2.2.2
whitenoise==5.3.0
wrapt==1.12.1
WTForms==3.0.1
zipp==3.8.0
zope.component==5.0.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.3
